<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <div class="body">
                <div class="card-body">
                    <div class="row-cols-lg-6">
                        <div class="col-form-label-lg">
                            <div ngbDropdown class="pl-lg-4  mb-3">
                                <button class="btn btn-outline-primary text-left " id="dropdownBasic2"
                                        ngbDropdownToggle>PAKET
                                    SEÇİNİZ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row-cols-lg-6">
                        <div class="input-group col-md-6  mb-3">
                            <input type="text" class="form-control" aria-label="Text input with checkbox"
                                   placeholder=" KART SAHİBİNİN ADI">
                        </div>
                        <div class="input-group col-md-6  mb-3">
                            <input type="text" class="form-control" aria-label="Text input with checkbox"
                                   placeholder=" KART SAHİBİNİN SOYADI">
                        </div>
                        <div class="input-group col-md-6  mb-3">
                            <input type="text" class="form-control" aria-label="Text input with checkbox"
                                   placeholder=" KREDİ KART NO">
                        </div>
                        <div class="input-group col-md-6  mb-3">
                            <input type="text" class="form-control" aria-label="Text input with checkbox"
                                   placeholder="SON KULLANMA TARİHİ">
                        </div>
                        <div class="input-group col-md-6  mb-3">
                            <input type="text" class="form-control" aria-label="Text input with checkbox"
                                   placeholder="CVC KODU">
                        </div>
                    </div>
                    <div class="input-group col-md-6  mb-3">
                        <div class="input-group-prepend ">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <div class="text-left">ONAYLANDI</div>
                    </div>
                    <div class="row-cols-lg-6">
                        <div class="col-form-label-lg">
                            <div class="text-center">
                                <button class="btn btn-primary ">SATIN AL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
