<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 ">
                        <div class="input-group ">
                            <input type="text" class="form-control" placeholder="TCKN / VKN ">
                        </div>
                        <div class="row-cols-lg-4 ">
                            <div class="col-form-label">
                                <div ngbDropdown>
                                    <button class="btn btn-outline-primary text-left" style="width: 100%"
                                            ngbDropdownToggle>İL
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3  ">
                            <input type="text" class="form-control" placeholder="NACE KODU">
                        </div>
                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="ADRESİ">
                        </div>

                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="TELEFON 1 ">
                        </div>
                        <div class="input-group  ">
                            <input type="text" class="form-control" placeholder="ŞUBE ADI">
                        </div>
                        <div class="row-cols-lg-4 ">
                            <div class="col-form-label">
                                <div ngbDropdown>
                                    <button class="btn btn-outline-primary text-left " style="width: 100%"
                                            ngbDropdownToggle>FİRMA İÇİN GÖREVİNİZ
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="SÖZLEŞME NO">
                        </div>
                    </div>

                    <div class="col-6 col-md-4 ml-5">
                        <div class="input-group ">
                            <input type="text" class="form-control" placeholder="FİRMA ADI">
                        </div>

                        <div class="row-cols">
                            <div class="col-form-label">
                                <div ngbDropdown>
                                    <button class="btn btn-outline-primary text-left " id="dropdownBasic2"
                                            style="width: 100%"
                                            ngbDropdownToggle>VERGİ DAİRESİ
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row-cols">
                            <div class="col-form-label pt-0">
                                <div ngbDropdown>
                                    <button class="btn btn-outline-primary text-left " id="dropdownBs"
                                            style="width: 100%"
                                            ngbDropdownToggle>BORSADA İŞLEM
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="WEB SİTESİ">
                        </div>
                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="TELEFON 2">
                        </div>
                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="ŞUBE KODU">
                        </div>
                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="SÖZLEŞME TARİHİ">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end ">
                    <div class="col-6 col-md-4 mb-3 ">
                        <button type="button" class="btn btn-primary my-4  " style="width: 80%">
                            FİRMAYI EKLE
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>

