<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <div class="container">
                <div class="row-cols-lg-4 mb-4">
                    <div class="col-form-label-lg-4 ">
                        <div ngbDropdown class="pl-md-4 px-5  ">
                            <button class="btn btn-outline-primary text-left" id="dropdownBasic1" style="width: 32%"
                                    ngbDropdownToggle>KAYITLI FİRMA SEÇİNİZ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="input-group  col-lg-4 pl-md-4 mb-3 ">
                    <input type="text" class="form-control" placeholder="ÜYE ID GİRİNİZ ">
                </div>
                <div class="text-center px-5 mb-3 ">
                    <button type="button" class="btn btn-primary my-4" style="width: 20%"> EKLE</button>
                </div>
            </div>
        </section>
    </div>
</main>
